@import url("https://fonts.googleapis.com/css?family=Lobster");
* {
  font-family: Lobster;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h2 {
  font-size: 1em;
}

h3, h4, h5 {
  font-size: 2em;
  color: #fff;
}

h3 {
  height: 70px;
}

@media screen and (max-width: 900px) {
  h3 {
    height: auto;
  }
}

h4 {
  margin: 0 0 5px 0;
}

h5 {
  font-size: 2.5em;
  margin: 20px auto;
  display: block;
  text-decoration: underline;
  width: 100%;
}

.section {
  text-align: center;
}

body {
  margin-right: 50px;
}

@media screen and (max-width: 900px) {
  body {
    margin: auto;
  }
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #fff;
}

#fp-nav.fp-right {
  right: 0;
}

.flex-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
  margin-right: 20px;
}

@media screen and (max-width: 800px) {
  .flex-container {
    margin: auto;
  }
}

.flex-item {
  width: 31%;
  -ms-flex-order: 0;
  -webkit-box-ordinal-group: 1;
  order: 0;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
      align-self: auto;
  margin: 1%;
}

@media only screen and (max-width: 900px) {
  .flex-item {
    width: 70%;
  }
}

.layer {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
}

.layer a {
  white-space: nowrap;
  color: white;
  position: absolute;
  font-size: 2em;
  top: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.layer a:first-of-type {
  left: 30%;
}

.layer a:last-of-type {
  left: 70%;
}

.layer a:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.miniature {
  position: relative;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  height: 40vh;
}

.miniature:hover .layer {
  height: 100%;
  bottom: 0;
}

.miniature, .layer, .tech-icons span {
  border: none;
  border-radius: 5px;
}

.order1 .layer a, .order2 .layer a, .order3 .layer a {
  left: 45%;
  font-size: 4em;
}

.tech-icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  margin: 0 auto;
}

.tech-icons span {
  color: #fff;
  background-color: #a9a9a9;
  padding: 5px;
  margin: 4px;
  display: inline-block;
  font-size: 1.5vw;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (max-width: 900px) {
  .tech-icons span {
    font-size: 20px;
  }
}

.tech-icons span:hover {
  background-color: #8a8a8a;
}

.arrow {
  font-size: 20px;
  position: absolute;
  bottom: 1%;
  text-decoration: none;
  opacity: .7;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #8a8a8a;
  left: 0;
  right: 0;
}

.arrow i {
  display: block;
  font-size: 35px;
}

.arrow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  color: #fff;
}

#section0 {
  position: relative;
}

#section0 h1 {
  font-size: 4vw;
  color: #fff;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 900px) {
  #section0 h1 {
    width: auto;
    font-size: 6vw;
  }
}

#section0::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../images/codes-coding-computer-270366.jpg);
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  content: "";
  z-index: -1;
}

#section1 {
  color: #fff;
}

#section1 .fp-tableCell {
  vertical-align: top;
}

#section1 .flex-item {
  width: auto;
}

@media screen and (max-width: 900px) {
  #section1 .arrow {
    position: static;
  }
}

#section1 h2 {
  font-size: 1.5em;
  padding: 0 3%;
  margin: 0;
  margin-bottom: 40px;
}

#section1 h2 img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  display: block;
  margin: 20px auto;
}

#section2 {
  color: #fff;
}

#section2 .flex-item {
  width: 20%;
}

#section2 p {
  font-size: 1.5em;
  margin: 5px;
}

#section2 img {
  margin: 3px;
  padding: 3px;
  vertical-align: middle;
  max-width: 50px;
  max-height: 50px;
}

#section2 .flex-container:nth-child(2) {
  margin-bottom: 70px;
}

#section2 .flex-container:nth-child(2) img {
  max-width: 107px;
  max-height: 83px;
}

#section3 .miniature {
  height: 30vh;
}

#section7 .flex-item {
  width: 45%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  #section7 .flex-item {
    width: 70%;
  }
}

#section7 .flex-item .contact {
  white-space: nowrap;
}

#section7 .flex-item .contact h2, #section7 .flex-item .contact input, #section7 .flex-item .contact textarea {
  margin: 0 auto;
  text-align: center;
  margin-top: 7%;
  height: 60px;
  background-color: #fff;
  border: none;
  position: relative;
  line-height: 60px;
  width: 70%;
  font-size: 1.5em;
}

@media screen and (max-width: 620px) {
  #section7 .flex-item .contact h2, #section7 .flex-item .contact input, #section7 .flex-item .contact textarea {
    width: 100%;
    margin-left: 0%;
    font-size: 1.4em;
  }
}

#section7 .flex-item .contact h2 a, #section7 .flex-item .contact input a, #section7 .flex-item .contact textarea a {
  padding-left: 20%;
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 620px) {
  #section7 .flex-item .contact h2 a, #section7 .flex-item .contact input a, #section7 .flex-item .contact textarea a {
    padding-left: 0%;
  }
}

#section7 .flex-item .contact h2 i, #section7 .flex-item .contact input i, #section7 .flex-item .contact textarea i {
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 70px;
  height: 60px;
}

#section7 .flex-item .contact h2 i:before, #section7 .flex-item .contact input i:before, #section7 .flex-item .contact textarea i:before {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 12px;
  margin-top: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 620px) {
  #section7 .flex-item .contact h2 i, #section7 .flex-item .contact input i, #section7 .flex-item .contact textarea i {
    display: none;
  }
}

#section7 .flex-item .contact h2:hover a {
  color: #ccc;
}

#section7 .flex-item .contact h2:hover i {
  background-color: #fff;
  color: #ccc;
}

#section7 .flex-item .contact h2:nth-of-type(2) i::before {
  padding: 19px;
}

#section7 .flex-item .contact input {
  height: 40px;
}

#section7 .flex-item .contact textarea {
  height: auto;
}

#section7 .flex-item .contact input, #section7 .flex-item .contact textarea {
  margin: 0 auto;
  margin-top: 2%;
  display: block;
}

#section7 .flex-item .contact p {
  color: #ff0000;
}

#section7 .flex-item .contact input[type*="submit"] {
  width: 40%;
  height: 50px;
  line-height: 50px;
  background-position: 100% 0;
  background-size: 300%;
  background-image: linear-gradient(45deg, #000 50%, transparent 50%);
}

#section7 .flex-item .contact input[type*="submit"]:hover {
  background-color: #000;
  color: #fff;
  background-position: 0 100%;
}

#section7 .flex-item .contact input:first-child {
  margin-top: 10%;
}

.psd1 {
  background-image: url(../images/psd1.jpg);
}

.psd2 {
  background-image: url(../images/psd2.jpg);
}

.psd3 {
  background-image: url(../images/psd3.jpg);
}

.game1 {
  background-image: url(../images/game1.jpg);
}

.game2 {
  background-image: url(../images/game2.jpg);
}

.game3 {
  background-image: url(../images/game3.jpg);
}

.order1 {
  background-image: url(../images/order1.jpg);
}

.order2 {
  background-image: url(../images/order2.jpg);
}

.order3 {
  background-image: url(../images/order3.jpg);
}

.project1 {
  background-image: url(../images/project1.jpg);
}

.project2 {
  background-image: url(../images/project2.jpg);
}

.project3 {
  background-image: url(../images/project3.jpg);
}

.project4 {
  background-image: url(../images/project4.jpg);
}

.project5 {
  background-image: url(../images/project5.jpg);
}

.project6 {
  background-image: url(../images/project6.jpg);
}
/*# sourceMappingURL=styles.css.map */